.catalog {
    padding: 5rem 2rem;
}

.catalog__content-wrapper {
    max-width: 1000px;
    margin-inline: auto;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr;
    gap: 15px;
}

/* MEDIA QURIES */
@media screen and (min-width: 769px) and (max-width: 999px) {
    .catalog__content-wrapper {
        grid-template-columns:  1fr 1fr 1fr;
    }
}

@media screen and (min-width: 600px) and (max-width: 768px) {
    .catalog__content-wrapper {
        grid-template-columns:  1fr 1fr;
    }
}

@media screen and (min-width: 500px) and (max-width: 599px) {
    .catalog__content-wrapper {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 499px){
    .catalog__content-wrapper {
        grid-template-columns: 1fr;
    }
}


