.featured {
    padding: 5rem 2rem;
    border-bottom: 2px solid rgb(217, 240, 217);
}

.featured__content-wrapper {
    margin-inline: auto;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.featured__header {
    width: 100%;
    text-align: left;
    line-height: 25px;
}

.featured__title {
    font-size: 1.7rem;
    font-weight: 600;
    color: var(--color-green);
}

.featured__subtitle {
    font-size: 0.9rem;
    font-weight: 300;
    color: rgb(78, 78, 78);
}

.featured__body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
} 

.featured__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}


/* MEDIA QUERIES */

@media screen and (min-width: 769px) and (max-width: 999px) {
    .featured__title {
        font-size: 1.6rem;
    }
}



@media screen and (min-width: 600px) and (max-width: 768px) {
    .featured__title {
        font-size: 1.5rem;
    }

    .featured__body {
        grid-template-columns: repeat(2, 1fr);
    } 
}

@media screen and (min-width: 461px) and (max-width: 599px) {
    .featured__title {
        font-size: 1.5rem;
    }

    .featured__body {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    } 
}


@media screen and (max-width: 460px) {
    .featured__title {
        font-size: 1.5rem;
    }

    .featured__body {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    } 
}


